body{
    font-family: 'Roboto', sans-serif;
}
.colornav{
    color:white !important;
}
.colornav:hover{
    color:rgb(222, 185, 132, 1) !important;
}
#bg1{
    background-image: url(imagens/img0_bread.jpg);
    background-size: cover;
    height: 460px;
}
#bg2{
    background-image: url(imagens/carousel_img2.jpg);
    background-size: cover;
    height: 460px;
}
#bg3{
    background-image: url(imagens/carousel_img3.jpg);
    background-size: cover;
    height: 460px;
}

.padding{
    background-color: rgba(37, 27, 18, 0.8);
    /*height: 280px;*/
    
}
.retangulo{
    width: 458px;
    height: 100px;

    background-color: rgba(187, 170, 154, 0.6);
}
.cor{
    color: white;
    margin-bottom: 0px;
}
.corDeFundo{
    background-color: rgba(222, 185, 132, 1);
    

}
.menu{
    text-align: center;
    color: white;
    font-size: 30px;
}

.tamanho{
    font-size: 18px;
    margin: 0px;
    color:rgb(241, 238, 232);
}
.tamanhoIngredientes{
    margin:0px;
    font-size: 14px;
    color: brown;
}
.mb{
    margin-bottom: 6px;
}
.reserva{
    background-color: rgb(102, 102, 102);
 
}
.centro{
    text-align: center;
}

.colorfo{
    background-color: rgba(102, 38, 11, 0.8) !important;

}
body{
    background-image: url(imagens/img4_background.jpg);
    background-size: cover;
}





.container1{
    width: 80%;
    max-width: 940px;
    margin: 0px auto 0px auto;
}




.botãoCorHover :hover{
    background-color: wheat;
    

}



.imagemTelaSm{
    background-image: url('imagens/img0_bread.jpg');
    background-size: cover;
    height: 200px;
    
}

.imagemTelaSm2{
    background-image: url(imagens/imag1_donuts.jpg);
    background-size: cover;
    height: 200px;
}

.imagemTelaSm3{
    background-image: url(imagens/pastry_img3.jpg);
    background-size: cover;
    height: 200px;
}
.imagemTelaSm4{
    background-image: url(imagens/img2_croissants.jpg);
    background-size: cover;
    height: 200px;
}

.detalhesCor{
    color:white;
    text-align: center;
    padding: 80px;
    font-size: 30px;
  

}
.detalhesCor:hover{
    color:rgb(247, 167, 167);
    font-weight: bold;
    text-align: center;
    padding: 80px;
   font-size: 40px;
   
    
    
}


.ttestBack3Img{
    background-image: url(imagens/pastry_img3.jpg);
    background-size: cover;
    height: 50px;

}
.ttestBack3Img1{
    background-image: url(imagens/pastry_img3.jpg);
    background-size: cover;
    height: 50px;

}

.ttestBack3Img2{
    background-image: url(imagens/pastry_img3.jpg);
    background-size: cover;
    height: 50px;

}
.reserveja:hover{
    background-color:rgb(187, 170, 154);
  
    
}

